/**
 * @file
 * Short description of this file
 */

/* Global utility mixins and vars etc. */
@import "global/variables";
@import "global/mixins";
@import "global/breakpoint";
@import "global/respond-to";

/* Base styles; unclassed HTML elements etc. */
@import "base/headings";

/* Components and abstractions */
// @import "components/somefile";

/* Layout */
@import "layout/l-header";
@import "layout/l-footer";
